---
// Component imports
import { Layout } from "@globals"
---

<Layout title="Tablist @cdsar626">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<!-- Welcome -->
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">🟢 Hola Valentina~ Amor lindo~</h1>
				<p class="italic">
					It didnt! Check out <span class="p-1 rounded-lg bg-gray-100 font-mono"
						><a href="bb">Bebecita~</a></span
					> to get .
				</p>
			</div>
		</div>

	</section>
</Layout>
