---
import "@style/tailwind.css"
---

    <div>
        <form class='flex'>
<div>
                <input id="username_input" class="input_text with_label" type="text" placeholder="" />
                <label for="username_input" class="input_label">Username</label> 
    
</div>            <div class="button self-center">Boton</div>
        </form>
    </div>